.menu {
  display: flex;
  gap: 20px;
  background: #0C4DA2;
  justify-content: center;
}

.menu-item {
  position: relative;
  padding: 10px;
  cursor: pointer;
  color: white;
}

.menu-title {
  color: white;
}

.menu-item:hover {
  background: #00AEEF;
  transition: background-color 0.3s ease;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  z-index: 1000; /* Đảm bảo hiển thị trên các phần khác */
}

.submenu a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  display: block;
}

.submenu a:hover {
  background: #28ef00;
}
